
.poster-detalle-sobre {
    position: relative;
    top: -75px;
    left: -10px;
    margin-bottom: -75px;
}

.title {
    width: 100% !important;
    position: absolute !important;
    color: white !important;
    background: rgba(0, 0, 0, 0.329);
    
    .text{
        font-size: 30px;
    }

}

.titulo h1{
    position: absolute;
    top: 28px;
    left: 5px;
}

.card-cast {
    height: 210px;
}

.cast-name {
    position: relative;
    top:15px;
}
